WpfAppTest/bin/
WinformAppTest/bin/
MemoryManageTest/bin/
WpfMultipleCommandParameter/bin/
EF-CodeFirst/bin/
Sales/bin/
SQLDataBase/bin/
BenchmarkExample/bin/
WcfAppTest/bin/
WcfClassTestLibrary/bin/
CodeDomTest/bin/
CommonUtil/bin/
SocketTester/bin/
ThreadTaskTest/bin/
WpfAppTestDevExpress/bin/


WpfAppTest/obj/
WinformAppTest/obj/
MemoryManageTest/obj/
WpfMultipleCommandParameter/obj/
EF-CodeFirst/obj/
Sales/obj/
SQLDataBase/obj/
BenchmarkExample/obj/
WcfAppTest/obj/
WcfClassTestLibrary/obj/
CodeDomTest/obj/
CommonUtil/obj/
SocketTester/obj/
ThreadTaskTest/obj/
WpfAppTestDevExpress/obj/

.vs/
SQLDataBase/SQLDataBase.dbmdl
SQLDataBase/SQLDataBase.jfm