<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfAppTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WpfAppTest.Properties.Settings.WpfTestLocalDBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WpfTestLocalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MtomSetting" messageEncoding="Mtom"></binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint
    name="HttpHelloWorld"
    address="http://localhost/wcf/example/hellowworldservice"
    binding="basicHttpBinding"
    contract="WcfClassTestLibrary.IHelloWorld"
    bindingConfiguration="MtomSetting">
			</endpoint>
			<endpoint
    name="TcpHelloWorld"
    address="net.tcp://localhost:809/wcf/example/hellowworldservice"
    binding="netTcpBinding"
    contract="WcfClassTestLibrary.IHelloWorld">
			</endpoint>
		</client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
  <WpfAppTest.Properties.Settings>
   <setting name="설정" serializeAs="String">
    <value />
   </setting>
  </WpfAppTest.Properties.Settings>
 </userSettings>
</configuration>
