<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MtomSetting" messageEncoding="Mtom"></binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="WcfClassTestLibrary.HelloWorldWCFService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/wcf/example/hellowworldservice"/>
						<add baseAddress="net.tcp://localhost:809/wcf/example/hellowworldservice"/>
					</baseAddresses>
				</host>
				
				
				<endpoint
					contract="WcfClassTestLibrary.IHelloWorld"
					address=""
					binding="basicHttpBinding"
					bindingConfiguration="MtomSetting"
					>
				</endpoint>


				<endpoint
					contract="WcfClassTestLibrary.IHelloWorld"
					address=""
					binding="netTcpBinding"
					>
				</endpoint>
			</service>
		</services>
	</system.serviceModel>
</configuration>